@import "tailwindcss";

@theme {
  --color-brand-purple: #926BAE;
    --color-brand-purple-dark: #5C3D78;
    --color-brand-light: #F5F0FA;
    --color-brand-cream: #FAF5E5;
    --color-brand-pink: #ED5994;
    --color-brand-lime: #BFED4D;
    --color-brand-black: #1C1C1C;
    --color-pinkstar: #ED5994;
    --color-goldstar-hover: #e0a500;
    --color-stickytape-pink: #F2D9E5;
    --color-stickytape-purple: #D9CCE5;
    --color-stickytape-green: #D9EBBF;
    --color-gold: #F0CE61;
    --color-bronze: #DEB18F;
    --color-silver: #D5D7DA;
  }

    /* globals.css — add below your @theme block */
  
    @keyframes marquee {
      0% {
        transform: translateX(0%);
      }
  
      100% {
        transform: translateX(-50%);
      }
    }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter;
}
